go 1.20

use ./hojas-de-trabajo/ht-1/app

use ./tareas/tarea-4/client

use ./tareas/tarea-4/server

use ./proyectos/proyecto2/grpc-client

use ./proyectos/proyecto2/grpc-server

use ./proyectos/proyecto2/consumer

use ./proyectos/proyecto1/backend
